<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pp_leader2</key>
	<string>包包大人</string>
	<key>pp_leader1</key>
	<string>灰太狼</string>
	<key>pp_college</key>
	<string>青青草原立足之地</string>
	<key>pp_number</key>
	<string>S123456780</string>
	<key>pp_name</key>
	<string>懒羊羊</string>
</dict>
</plist>
